In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Titanic-Dataset.csv")

In [3]:
# rename the columns names
update_df=df.rename(columns={"PassengerId":"Passenger_ID","Survived":"Survived_or_Not","Pclass":"Passenger_Class",})
# syntax rename(columns={"old_name1":"new_name1","old_name2":"new_name2",...})

In [4]:
update_df.columns

Index(['Passenger_ID', 'Survived_or_Not', 'Passenger_Class', 'Name', 'Sex',
       'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
# Type_Cast
update_df["Survived_or_Not"]=update_df["Survived_or_Not"].astype("bool")

In [6]:
update_df["Survived_or_Not"].dtype

dtype('bool')

In [ ]:
# Apply method 
# let i want to multiply the age column with 2 so i have to use loop but in pandas we have apply method to do this type of work

update_df["Age"].apply(lambda X: X*2)
 
# It is more faster then loop

0      44.0
1      76.0
2      52.0
3      70.0
4      70.0
       ...
886    54.0
887    38.0
888     NaN
889    52.0
890    64.0
Name: Age, Length: 891, dtype: float64